/* 브라우저 기본 스타일 초기화 */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* 모바일에서 당겨서 새로고침 방지 */
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* 모든 요소에 box-sizing 적용 */
*, *::before, *::after {
    box-sizing: border-box;
}